.background{
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.box{
	padding-top: 60px;
	width: 100%;
	height: 500px;
	color: black;
}
.box li{
	text-align: center;
}

#logo{
	margin-left: -20px;
	width: 200px;
	margin-bottom: 15px;
}
.box .col-md-2 #logo >img{
 	width: 80px;
 	height: 80px;
}


.navbar-a{
	color: white;
	background-color:#212121;
	font-color:white;


}

.nav-stacked >li:hover{
  background-color: #FBE9E7;
  color: #FF561C;
  
}
.nav-stacked >li >a:hover{
  background-color: #FBE9E7;
  color: #FF561C;
}
.navbar-nav >li > a:hover{
	background-color: #212121;
}
.nav-sidebar >li >a{
	opacity: 0.7;
	color: black;
	font-size: 18px;
	padding: 15px 0 15px 22px;
}
.nav-sidebar >li.active >a{
	background-color: #FBE9E7;
	border: 0;
	color: #FF561C;
}
.nav-sidebar >li.active{
	background-color: #FBE9E7;
	color: #FF561C;
	
}
.nav-sidebar >li ul{
	list-style-type: none;
}
.nav-sidebar >li ul li:hover{
	background-color:  #FF561C;
}
.nav-sidebar >li.active >a:hover, .nav-sidebar >li.active >a:focus{
	background-color: #FBE9E7;
	color: #FF561C;
	border: 0;
}
.nav-sidebar >li.active:hover, .nav-sidebar >li.active:focus{
	background-color: #FBE9E7;
	color: black;
}
.nav-tool{
	color: white;
	
}
.nav-tool:hover{
	color:#737373;
	
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.tab-pane ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border: transparent;
	padding-left:15px;
	padding-top: 50px;
	padding-right: 50px;
}
.tab-pane ul li{
	list-style-type: none;
	float: left;
	width: 226px;
	height: 300px;
	border: 2px solid #e5e5e5;
	margin-bottom: 30px;
	text-align: left;
}
.tab-pane ul li img{
	width: 100%;
	height: 192px;
}
.tab-pane ul p{
	width: 100%;

	padding: 15px 23px;
	font-size: 18px;
}